:root {
    --bg-color-dark: #1F2937; /* Used by hero and footer*/
    --bg-color-light: #F9FAF8; /* body background*/
    --text-color-light: #F9FAF8; /* hero/header text */
    --text-color-grey: #E5E7EB; /* secondary text, header links */
    --text-color-dark: #1F2937; /* information header text */
    --highlight-color: #3382F6; /* buttons, call to action bg color */
}

body {
    margin: 0;
    padding: 0;
    /* Typography */
    font-family: 'Roboto', Verdana, sans-serif;
    color: var(--text-color-dark);
    background-color: var(--bg-color-light);
}
header {
    /* layout */
    display: flex;
    padding: 1rem 10rem;
    /* appearance */
    background-color: var(--bg-color-dark);

    h1 {
        /* layout */
        flex: 1;
        /* appearance */
        color: var(--text-color-light);
        font-size: 18px;

    }

    nav {
        flex: 1;

        a {
            padding: 0rem 0.5em;;
            color: var(--text-color-grey);
            text-decoration: none;
            font-size: 18px;

        }
    }
}
.top {
    /* layout */
    display: flex;
    padding: 1rem 10rem;
    gap: 2rem;
    /* appearance */
    color: var(--text-color-light);
    background-color: var(--bg-color-dark);

    div {
        flex: 1;

        p {
            color: var(--text-color-grey);
        }

        button {
            color: var(--text-color-light);
            background-color: var(--highlight-color);
            border: solid 1px;
            border-color: var(--highlight-color);
            border-radius: .25rem;
            height: 2rem;
            width: 10rem;
        }

        img {
            /* placeholder image */
            background-image: repeating-radial-gradient(grey, white, blue,  grey, white);
            width: 100%;
            height: 90%;
        }
    }
}
.mid {
    padding: 1rem 10rem;
    text-align: center;
    h2 {
        font-size: 36px;
        font-weight: 900;
    }
    .flex-row {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .captioned-image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                
                /* placeholder image */
                height: 10rem;
                width: 10rem;
                background-image: repeating-radial-gradient(blue, white, grey, blue, white, grey);
                border: 1px solid blue;
                border-radius: 1rem;
            }
            p {
                text-align: center;
            }
        }
    }

}
.quote {
    padding: 1rem 10rem;
    background-color: var(--text-color-grey);
    color: var(--text-color-dark);
    font-size: 36px;
    font-style: italic;
    cite {
        display: block;
        text-align: right;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
    }
}
.call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin:40px 40px;
    padding: 1rem 10rem;
    border-radius: 1rem;
    color: var(--text-color-light);
    background-color: var(--highlight-color);
    div {
        flex: 3;
    }
    button {
        color: var(--text-color-light);
        border-color: var(--bg-color-light);
        border: solid 1px;
        border-radius: .25rem;
        background-color: var(--highlight-color);
        height: 2rem;
        width: 10rem;
        flex: 1;
    }
}
footer {
    margin:auto;
    padding: 3rem;
    background-color: var(--bg-color-dark);
    color: var(--text-color-light);
    text-align: center;
}